{% extends "base.html" %}
{% block title %}Forum{% endblock %}

{% block content %}
    <div id="vue-app">
		<div v-for="scan in repairs">
			<div class="card" style="width: 30rem; margin: auto;">
				<img class="card-img-top" :src="scan[0].url" alt="...">
				<div class="card-body">
					<h3 class="card-title">[[ scan[0].title ]]</h3>
					<p class="card-title">[[ scan[0].upvote ]] upvotes</p>
					<hr>
					<!-- <p class="card-text">field for describing the problem <b>example</b> Sixty-nine people
					in the neighborhood have reported falling over this crack. This portion of the sidewalk needs to be repaired!</p> -->
					<p class="card-text"><i>Location: [[ scan[1] ]], [[ scan[2] ]]</i></p>
					{% if session['logged_in'] %}
						<button class="btn btn-primary" @click="vote(scan[0].filename, scan[0].id)">Upvote</button>
					{% else %}
						<b><p>Log in to vote</p></b>
					{% endif %}
				</div>
			</div>
			<br>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		var app = new Vue({
			el: "#vue-app",
			delimiters: ['[[',']]'],
			data() {
				return {
					repairs: []
				};
			},
			methods: {
				getCurrent: function () {
					navigator.geolocation.getCurrentPosition(function(pos) {

						$.ajax({
							type: 'POST',
							url: '/api/scans/all',
							data: JSON.stringify({"position": [pos.coords.longitude, pos.coords.latitude], "range": 1000*11100}),
							contentType: "application/json",
							dataType: "json",
							success: function(data) {
								app.repairs = data.repairs;
							}
						});
					});
				},
				vote: function(index, id) {
					$.ajax({
						type: 'POST',
						url: '/api/upvote',
						data: JSON.stringify({"name": index, "scan_id": id}),
						contentType: "application/json",
						dataType: "json"
					});
				}
			}
		});

		app.getCurrent();
		setInterval(app.getCurrent, 60000);
    </script>
{% endblock %}