{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block buttons %}
    <div style="display: inline-block;" class="dropdown">
        <a class="btn nav-button dropdown-toggle" type="button" id="account" data-bs-toggle="dropdown" href="#">Account Settings</a>
        <ul class="dropdown-menu" aria-labelledby="account">
            <form method="post">
                <button class="dropdown-item" value="changepass" name="changepass">Change Password</button>
            </form>
            <form method="post">
                <button class="dropdown-item" value="changeuser" name="changeuser">Change Username</button>
            </form>
            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>

        </ul>
    </div>
    <div style="display: inline-block; width: 1em;"></div>

    <a class="btn nav-button buttonrect" type="button" id="logout" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><p id="logouttext">Logout</p></a>


{% endblock %}

{% block content %}
<style type="text/css">
    .circle {
        width:50%;
        height:50%;
        padding-bottom: 50%;
        background: #c4c4c4;
        border-radius: 50%;
    }
</style>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="loginModalLabel">Are you sure?</h5>
                    <a href="logout"><button type="button" class="btn btn-primary">Log Out</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <form method="post" action="/main">
                        <button class="btn btn-primary" value="deleteacc" name="deleteacc">Delete Account</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <main>
        <!-- <div class="row">
            <div class="column">
                <h1>Hello, {{user['username']}}!</h1>
            </div>
        </div> -->
        <div class="mt-3">
            <div style="height:85vh;" class="row text-center">
                <div style="background-color:aqua; width:25%; margin-right:20px; margin-left:20px; border-radius:25px;">
                    <div > 
                        <div style="margin:auto; margin-top:20px;" class="circle"></div>
                        <h1>{{user['username']}}</h1>
                    </div>
                </div>
                <div style="background-color:green; width:65%; border-radius:25px;">
    
                </div>
            </div>
        </div>

    </main>
{% endblock %}