{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block buttons %}
    <a class="btn nav-button buttonrect" type="button" id="logout" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><p id="logouttext">Logout</p></a>
{% endblock %}

{% block content %}
    <style type="text/css">
        .circle {
            border: 3px solid;
            border-color:#C5DCC2;
            padding-bottom: 50%;
            border-radius: 50%;
            overflow: hidden;
            max-width: 10vw;
            max-height: 10vw;
            /* background: #c4c4c4; */
            /* background-image: url("/static/images/column1.png");
            object-fit: cover; */

        }

        .blur:hover {
            /* background: rgba(194, 194, 194, 0.9); */
            backdrop-filter: blur(8px);
        }

        .btn-dash {
            box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
        }

        .dashboard-border {
            border: 3px solid;
            border-color: #C5DCC2;
            border-radius:25px;
        }

        .dashboard-grad {
            background-image: linear-gradient(#A2C08B -5%,#B2D5DF 100%);
        }

        #pic {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="loginModalLabel">Are you sure?</h5>
                    <a href="logout"><button type="button" class="btn btn-danger">Log Out</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div style="height:85vh;" class="row text-center mt-3  mx-0 px-0">
            <div class="col-3 dashboard-border dashboard-grad">
                <div> 
                    <div style="margin:auto; margin-top:20px;" class="circle">
                    <img src="/static/images/person.svg" id="pic">
                    </div>
                    <h1 class="mt-2 mb-3">{{user['username']}}</h1>
                </div>

                <ul class="nav flex-column nav-pills d-flex align-items-center" id="dashboard-tab" role="tablist">
                    <li class="nav-item d-grid my-3" role="presentation" style="width:80%;">
                    <button class="nav-link btn btn-dash" id="gallery-btn" type="button" style="background-color:#C6DCC4; color:black;" onclick="location.href='/gallery'">
                        Home
                        <img src="{{ url_for('static', filename='images/gallery.svg') }}" class="sign-up-icon">
                    </button>
                    </li>
                    <br>
                    <li class="nav-item d-grid my-3" role="presentation" style="width:80%;">
                    <button class="nav-link btn btn-dash" id="upload-btn" type="button"  style="background-color:#C6DBCB; color:black;" onclick="location.href='/upload'">
                        Profile
                        <img src="{{ url_for('static', filename='images/upload.svg') }}" class="sign-up-icon">
                    </button>
                    </li>
                    <br>
                    <li class="nav-item d-grid my-3" role="presentation" style="width:80%;">
                    <button class="nav-link btn btn-dash" id="stats-tab" style="background-color:#C9DBDA; color:black;" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab">
                        Stats
                        <img src="{{ url_for('static', filename='images/share.svg') }}" class="sign-up-icon">
                    </button>
                    </li>
                    <br>
                    <li class="nav-item d-grid my-3" role="presentation" style="width:80%;">
                    <button class="nav-link btn btn-dash" id="profile-tab" style="background-color:#C9DBDF; color:black;" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">
                        Edit Profile
                        <img src="{{ url_for('static', filename='images/person_2.svg') }}" class="sign-up-icon">
                    </button>
                    </li>
                    <br>
                </ul>
            </div>
            
            <div class="col dashboard-border dashboard-grad tab-content" id='tabContent'>
                <div class="tab-pane fade active show" id="stats" role="tabpanel">
                    <h1 class="text-center">Stats</h1>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel">
                    <h1 class="text-center">Change Your Account Info</h1>
                    <div id="vue-app">
                        <label for="username-input">Change Username</label><br>
                        <input id="username-input" type="text" v-model="username">
                        <p id="username-input-Msg" style="color:red;"></p>
                        <br><br>

                        <button @click="submit(username, oldPass, newPass, confirmPass)">Submit</button>
                        <br>

                        <label for="oldPass-input">Current Password</label><br>
                        <input id="oldPass-input" type="text" v-model="oldPass">
                        <p id="oldPass-input-Msg" style="color:red;"></p>
                        <br><br>

                        <label for="newPass-input">New Password</label><br>
                        <input id="newPass-input" type="text" v-model="newPass">
                        <p id="newPass-input-Msg" style="color:red;"></p>
                        <br>

                        <label for="confirmPass-input">Confirm New Password</label><br>
                        <input id="confirmPass-input" type="text" v-model="confirmPass">
                        <p id="confirmPass-input-Msg" style="color:red;"></p>
                        <br>

                        <button @click="changePass()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: "#vue-app",
        delimiters: ['[[', ']]'],
        data() {
            return {
                username: "",
                oldPass: "",
                newPass: "",
                confirmPass: "",
            };
        },
        methods: {
            changePass() {
                var oldpass = document.getElementById("oldPass-input");
                var newPass = document.getElementById("newPass-input");
                var confirmPass = document.getElementById("confirmPass-input");
                var oldPassMsg = document.getElementById("oldPass-input-Msg");
                var newPassMsg = document.getElementById("newPass-input-Msg");
                var confirmPassMsg = document.getElementById("confirmPass-input-Msg");
                var messages = [oldPassMsg, newPassMsg, confirmPassMsg];
                
                messages.forEach((element) => {
                    element.textContent="";
                })

                if (newPass.value != confirmPass.value){
                    newPassMsg.textContent = "Password Does Not Match";
                    confirmPassMsg.textContent = "Password Does Not Match";
                }
                else{
                    console.log("Request Submitted");
                    $.ajax({
                        type: 'POST',
                        url: '/main',
                        data: JSON.stringify({
                            "oldPass": this.oldPass.value,
                            "newPass": this.newPass.value,
                        }),

                        contentType: "application/json",
                        dataType: "json"
                    }).done((response) => {
                        console.log(response)
                        
                    });
                }
            }
        }
    });
</script>

<script type="text/javascript">
    
    // $(".nav-pills .nav-item .nav-link:not(.nav-pills .nav-item.dropdown .nav-link), .dropdown-item").click(function()
    // {
    //     $(".dropdown-item.active").removeClass('active');
    // });
    // function change(){
    //     document.getElementById(stats);
    //     document.getElementBy
    // }
    document.addEventListener("click", function(){
        console.log("stats", document.getElementById("stats").classList);
        console.log("profile", document.getElementById("profile").classList);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{% endblock %}