{% extends "base.html" %}
{% block title %}Sign-up{% endblock %}

{% block content %}
    <main>
        <br>
        <h1 class="navbar-brand sign-up-heading">Sign Up</h1>
        <p class="nav-item px-1" style="color:white !important; text-align:center">Already have a GeoRepair account? <a href="/login" style="color: #4e7e7e; text-decoration:none">Log In here!</a></p>
        <div class="sign-up-grad" style="margin:auto; text-align:center; width:50%" >
            <form method="post" action="/signup" novalidate>
                <br>
                {{signup_form.hidden_tag()}}

                <img src="../static/images/person.png" class="sign-up-icon">
                {{signup_form.username(size=32, class = "text-input", placeholder = "Username")}}<br /><br />
                <img src="../static/images/email.png" class="sign-up-icon">
                {{signup_form.email(size=32, class = "text-input", placeholder = "Email")}}<br /><br />
                <img src="../static/images/key.png" class="sign-up-icon">
                {{signup_form.password(size=32, class = "text-input", placeholder = "Password")}}
                <p class="nav-item px-1" style="color: #999999 !important; font-size:15px">(6 or more characters)</p>
                <img src="../static/images/key.png" class="sign-up-icon">
                {{signup_form.confirm_password(size=32, class = "text-input", placeholder = "Confirm Password")}}<br /><br />
                <img src="../static/images/building.png" class="sign-up-icon">
                {{signup_form.city(size=32, class = "text-input", placeholder = "City")}}<br /><br />

                {% if usererror %}
                    <p style="color:red;">Username already exists</p>
                {% endif %}
                {% if emailerror %}
                    <p style="color:red;">Email already in use</p>

                {% endif %}
                {{signup_form.submit(class="btn nav-button flask-buttonrect", style="margin:auto !important;")}}<br />
            </form>
        </div>
    </main>
{% endblock %}