{% extends "base.html" %} {% block title %}Upload{% endblock %} {% block
content%}
<style>
  .text-wrapper {
    --space: 5px;
    margin-top: var(--space);
    margin-bottom: var(--space);
  }
</style>
<br />
<h1 class="navbar-brand sign-up-heading">Upload Scan</h1>
<div
  id="uploadForm"
  class="sign-up-wrapper"
  style="margin: auto; text-align: center; width: 50%"
>
  <form
    enctype="multipart/form-data"
    @submit="formSubmit"
    class="sign-up-grad"
    style="padding: 1rem 0"
  >
    <span class="text-wrapper">
      <input
        type="text"
        v-model="title"
        placeholder="Title"
        class="text-input"
        size="32"
        required
      />
      <span class="text-border"></span>
    </span>
    <br />
    <span class="text-wrapper">
      <input
        type="text"
        v-model="des"
        placeholder="Description"
        class="text-input"
        size="32"
        required
      />
      <span class="text-border"></span>
    </span>
    <br />
    <span class="text-wrapper">
      <input
        type="number"
        v-model="lat"
        placeholder="Latitude"
        class="text-input"
        size="32"
        required
      />
      <span class="text-border"></span>
    </span>
    <span class="text-wrapper">
      <input
        type="number"
        v-model="long"
        placeholder="Longitude"
        class="text-input"
        size="32"
        required
      />
      <span class="text-border"></span>
    </span>
    <br />
    <span class="text-wrapper">
      <label>Urgency</label>
      <input
        type="range"
        max="10"
        min="0"
        v-model="urgency"
        placeholder="Urgency"
        class="text-input"
        size="32"
        required
      />
    </span>
    <br />
    <input type="file" id="file" accept="image/*" />
    <br />
    <input
      class="btn nav-button flask-buttonrect sign-up-btn"
      id="submit"
      name="submit"
      style="margin: auto !important"
      type="submit"
      value="Submit"
    />
  </form>
</div>
<h1 class="formsubmit"></h1>

{% endblock %} {% block scripts %}
<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>

<script type="text/javascript">
  var app = new Vue({
    el: "#uploadForm",
    delimiters: ["[[", "]]"],
    data() {
      return {
        title: "",
        des: "",
        long: "",
        lat: "",
        urgency: "",
      };
    },
    methods: {
      formSubmit(e) {
        var datasubmit = {
          title: this.title,
          des: this.des,
          filename: undefined,
          position: [this.lat, this.long],
          urgency: parseInt(this.urgency, 10),
        };
        e.preventDefault();
        var formdata = new FormData();
        var imagefile = document.querySelector("#file");
        formdata.append("image", imagefile.files[0]);
        function postImage(callback) {
          $.ajax({
            type: "POST",
            url: "/api/scans/upload",
            data: formdata,
            contentType: false,
            processData: false,
            success: callback,
          });
        }
        function postData(result) {
          datasubmit["filename"] = result.filename;
          $.ajax({
            type: "POST",
            url: "/api/scans/add",
            data: JSON.stringify(datasubmit),
            contentType: "application/json",
            dataType: "json",
            success: (data) => {
              $(".formsubmit").text("Scan successfully uploaded.");
            },
            error: () => {
              $("form").text("Invalid coordinates. Try again.");
            },
          });
        }
        postImage(postData);
      },
    },
  });
</script>
{% endblock %}
